---
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
}
import FallbackImage from "../assets/background.svg";
// 当前路径，根路径拼接，不包含query参数
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image = FallbackImage } = Astro.props;
---

<title>{title}</title>
<meta charset="UTF-8" />
<!-- 加上下面这个才能响应式 ,下个是支持用户自己手动缩放-->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, user-scalable=yes"
/>
<meta name="title" content={title} />
<meta name="description" content={description} />
<!-- astro生成 -->
<meta name="generator" content={Astro.generator} />

<!-- public 目录的两个icon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />

<!-- astro的sitemap拓展再编译后会自己生成，便于搜索引擎收录网站 -->
<link rel="sitemap" href="/sitemap-index.xml" />
<!-- RSS 订阅：让用户可以通过 RSS 阅读器订阅你的博客更新。 -->
<link
  rel="alternate"
  type="application/rss+xml"
  ...
  href={new URL("rss.xml", Astro.site)}
/>
<!-- Canonical URL（规范链接）,让带额外参数的链接正确的识别为同一个网页 -->
<link rel="canonical" href={canonicalURL} />

<!-- 以下为社交媒体分享卡片元数据 -->
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url)} />
